<!DOCTYPE html>
<html>
<head>
	<script src="./mathFunctions.js"></script>
	<title>W09 TEACH Math Page</title>
</head>
<body>
	<h1>Welcome to the W09 TEACH Math Page</h1>
	<p>(cool math stuff goes here.)</p>
	<form>
		Result<br/>
		<input id="result" value="<%= result %>"/>
	</form>
</body>
</html>