<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>ATG Budget</title>

	<script src="https://www.gstatic.com/firebasejs/5.9.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.9.0/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.9.0/firebase-firestore.js"></script>
	<script src="js/firebaseInit.js"></script>
	<script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
	<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
	<script src="js/firebaseUI.js"></script>

	<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="css/style.css">
	<script src="js/script.js"></script>
    <script src="js/ui/helperFunctions.js"></script>
	<script src="js/ui/popup.js"></script>
    <script src="js/ui/view.js"></script>

	<script src="js/firebaseGetUser.js"></script>

</head>
<body>
<mainContent id="mainContent"></mainContent>
</body>
</html>